---
import Layout from '../layouts/Layout.astro';
import GeneralLabels from "../components/GeneralLabels.tsx"
import MetaGeneralLogo from "../assets/MetaGeneralLogo.svg"
import { Image } from 'astro:assets';
---

<Layout>
  <main class="bg-zinc-200">
    <div class="flex flex-col items-center justify-center gap-4 pt-5 max-w-[600px] mx-auto">
      <Image class="w-[90px]" src={MetaGeneralLogo} alt="Logo de meta"/>
      <h1 class="text-center text-8xl max-[425px]:text-6xl font-bold">Mike Flores</h1>
      <p class="text-zinc-500 text-5xl max-[425px]:text-3xl text-center font-light">Dashboard de anuncios pautados en Meta</p>
    </div>
    <section>
      <GeneralLabels client:only/> 
    </section>
  </main>
</Layout>
