---
import Layout from '../layouts/Layout.astro';
import {GET} from "../api/FetchData.ts"
import GeneralLabels from "../components/GeneralLabels.tsx"
let response = await GET(Astro)
const data = await response.json()
---

<Layout>
  <main>
    <h1>Mike Flores</h1>
    <section>
      <GeneralLabels GeneralLabels={data.generalLabels} client:only/> 
    </section>
  </main>
</Layout>
