---
import "../styles/global.css"
---

<!doctype html>
<html lang="en">
	<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-5G64R42D');</script>
    <!-- End Google Tag Manager -->
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>Mike Flores - Dashboard de anuncios pautados</title>
    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="Mike Flores - Dashboard de anuncios pautados" />
    <meta property="og:description" content="Dashboard de anuncios pautados" />
    <meta property="og:image" content="https://scrapper-mike-flores.onrender.com/favicon.png" />
    <meta property="og:url" content="https://scrapper-mike-flores.onrender.com" />
    <meta property="og:type" content="website" />

    <!-- Twitter Card Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Mike Flores - Dashboard de anuncios pautados" />
    <meta name="twitter:description" content="Dashboard de anuncios pautados." />
    <meta name="twitter:image" content="https://scrapper-mike-flores.onrender.com/favicon.png" />
    <meta name="twitter:site" content="@mikefloresse" />
	</head>
	<body>
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5G64R42D"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<slot />
	</body>
</html>


<style is:global>
  @media screen and (max-width: 768px){
    .slick-next {
      right: 0 !important;
    }
    .slick-prev {
      left: 0 !important;
      z-index: 1;
    }
    .slick-next::before, .slick-prev::before {
      color: var(--color-zinc-200) !important;
    }
  }
</style>
