---
import "../styles/global.css"
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>Mike Flores - Dashboard de anuncios pautados</title>
    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="Mike Flores - Dashboard de anuncios pautados" />
    <meta property="og:description" content="Dashboard de anuncios pautados" />
    <meta property="og:image" content="https://yourwebsite.com/favicon.png" />
    <meta property="og:url" content="https://scrapper-mike-flores.onrender.com/" />
    <meta property="og:type" content="website" />

    <!-- Twitter Card Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Mike Flores - Dashboard de anuncios pautados" />
    <meta name="twitter:description" content="Dashboard de anuncios pautados." />
    <meta name="twitter:image" content="https://yourwebsite.com/favicon.png" />
    <meta name="twitter:site" content="@mikefloresse" />
	</head>
	<body>
		<slot />
	</body>
</html>


<style is:global>
  @media screen and (max-width: 768px){
    .slick-next {
      right: 0 !important;
    }
    .slick-prev {
      left: 0 !important;
      z-index: 1;
    }
    .slick-next::before, .slick-prev::before {
      color: var(--color-zinc-200) !important;
    }
  }
</style>
